Source: gumbo-parser
Priority: optional
Maintainer: Aymeric Agon-Rambosson <aymeric.agon@yandex.com>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 libgtest-dev,
 python3:any,
 python3-setuptools
Standards-Version: 4.6.2
Section: libs
Homepage: https://codeberg.org/grisha/gumbo-parser
Vcs-Git: https://salsa.debian.org/debian/gumbo-parser.git
Vcs-Browser: https://salsa.debian.org/debian/gumbo-parser
Rules-Requires-Root: no

Package: libgumbo-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgumbo2 (= ${binary:Version}), ${misc:Depends}
Description: pure-C HTML5 parser development files
 Gumbo is an implementation of the HTML5 parsing algorithm implemented
 as a pure C99 library with no outside dependencies.  It's designed to serve
 as a building block for other tools and libraries such as linters,
 validators, templating languages, and refactoring and analysis tools.
 .
 This package contains development files for Gumbo.

Package: libgumbo2
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: pure-C HTML5 parser
 Gumbo is an implementation of the HTML5 parsing algorithm implemented
 as a pure C99 library with no outside dependencies.  It's designed to serve
 as a building block for other tools and libraries such as linters,
 validators, templating languages, and refactoring and analysis tools.

Package: python3-gumbo
Section: python
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python3:Depends},
 libgumbo2 (>= ${source:Version})
Recommends: python3-bs4, python3-html5lib
Description: pure-C HTML5 parser Python 3 bindings
 Gumbo is an implementation of the HTML5 parsing algorithm implemented
 as a pure C99 library with no outside dependencies.  It's designed to serve
 as a building block for other tools and libraries such as linters,
 validators, templating languages, and refactoring and analysis tools.
 .
 This package contains Python 3 bindings of Gumbo.
